[Unit]
Description=My awesome file-transfer sercive

[Service]
Type=oneshot
User=user
WorkingDirectory=/home/user/torrent-throw-system/debug/
ExecStart=/home/user/torrent-throw-system/debug/test.sh
